<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Smile_Contact::blog"
             title="Contact Us"
             translate="title"
             module="Smile_Contact"
             sortOrder="25"
             parent="Magento_Backend::content_elements"
             action="admin_smilecontact/table"
             resource="Smile_Contact::general_config" />
    </menu>
</config>
