<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Smile\Contact\Model\ResourceModel\SmileContactBlock\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">smile_contact_table</argument>
            <argument name="resourceModel" xsi:type="string">Smile\Contact\Model\ResourceModel\SmileContactResource</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="smilecontact_table_listing_data_source" xsi:type="string">Smile\Contact\Model\ResourceModel\SmileContactBlock\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\EntityManager\MetadataPool">
        <arguments>
            <argument name="metadata" xsi:type="array">
                <item name="Smile\Contact\Api\Data\SmileContactInterface" xsi:type="array">
                    <item name="entityTableName" xsi:type="string">smile_contact_table</item>
                    <item name="identifierField" xsi:type="string">id</item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
