<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="currency">
            <group id="kruglov_newstable" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Currency</label>
                <field id="currency_table" translate="label comment" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Currency</label>
                    <comment>set Currency</comment>
                    <source_model>Kruglov\NewsTable\Model\Config\Source\Currency</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
